@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish&display=swap');

@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;

  @include onBigDesktop {
    padding: 0;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  flex-direction: column;
  row-gap: 30px;

  margin-bottom: 37px;

  @include onPhone {
    flex-direction: row;

    margin-bottom: 60px;
  }

  &__logo-container {
    align-self: start;

    @include onPhone {
      align-self: center;
    }
  }

  &__input {
    width: 100%;
    height: 55px;
    padding: 16px;

    border: 1px solid #f2f2f2;

    outline: none;

    &--location {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;

      border-right: none;

      &--mobile {
        border-bottom-left-radius: 0;
      }
    }
  }

  &__button {
    align-items: center;
    height: 55px;
    padding: 0 16px;

    background-color: transparent;

    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;

    cursor: pointer;

    &--first {
      filter: invert(58%) sepia(15%) saturate(6586%) hue-rotate(324deg) brightness(94%)
        contrast(95%);
    }

    &--open {
      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: #eb5757;

      font-weight: 500;
      font-size: 14px;

      color: #f2f2f2;
    }

    &--search {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(278deg) brightness(103%)
        contrast(100%);
      margin-right: 3px;
    }

    &--hidden {
      display: none;

      @include onPhone {
        display: flex;
      }
    }

    &--mobile {
      position: absolute;
      bottom: 24px;
      left: 40%;
      padding: 15px 25px;

      border-radius: 16px;

      @include onPhone {
        display: none;
      }
    }
  }
}

.input-container {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  max-width: max-content;
  width: 100%;

  cursor: pointer;

  &__open {
    max-width: inherit;
    margin-bottom: 42px;
  }

  &--mobile {
    flex-direction: column;
    margin-top: 16px;

    @include onPhone {
      margin-top: 100px;
      flex-direction: row;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 0;

    @include onPhone {
      display: none;
    }
  }

  &__close {
    cursor: pointer;
  }
}

.modal-search {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;

  transition: background-color 0.5s;

  &--open {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: background-color 0.5s;
  }

  &__content {
    position: absolute;
    width: 100vw;
    height: 70vh;
    left: 0;

    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s;

    @include onPhone {
      height: 460px;
    }

    &--open {
      transform: translateY(0%);

      transition: transform 0.5s;
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__input {
    padding: 10px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--open {
      border-radius: 16px;
      border: 1px solid #333333;
    }
  }

  &__sign {
    font-weight: 800;
    font-size: 9px;
    text-transform: uppercase;

    color: #333333;
  }

  &__title {
    display: block;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;

    color: #bdbdbd;

    &--choosen {
      color: #333333;
    }
  }

  &__cities {
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__city {
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    cursor: pointer;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__pin {
    margin-right: 10px;
  }
}

.grid {
  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}

.add-guest {
  font-size: 14px;

  @include onPhone {
    margin-left: 47%;
  }

  &__block {
    padding-top: 42px;

    &:nth-child(1) {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 3px;
    font-weight: 700;

    color: #333333;

    &--count {
      margin: 0 16px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #bdbdbd;
  }

  &__button {
    // padding: 4px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 1px solid #828282;
    border-radius: 4px;

    cursor: pointer;
  }
}

.main {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 30px;
    row-gap: 40px;

    @include onBigPhone {
      column-gap: 10px;
      row-gap: 30px;
      justify-content: space-between;
    }

    @include onTab {
      column-gap: 10px;
      row-gap: 20px;
    }

    @include onDesktop {
      column-gap: 60px;
      row-gap: 40px;
    }

    @include onBigDesktop {
      column-gap: 30px;
      row-gap: 40px;
    }

    @include onDesktop {
      // justify-content: start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__count {
    font-weight: 500;
    font-size: 14px;

    color: #4f4f4f;
  }
}

.room {
  max-width: 380px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    opacity: 0.7;
  }

  @include onBigPhone {
    max-width: 280px;
  }

  @include onTab {
    max-width: 350px;
  }

  @include onSmallDesktop {
    max-width: 290px;
  }

  @include onDesktop {
    max-width: 320px;
  }

  @include onBigDesktop {
    max-width: 380px;
  }

  &__container-photo {
    // max-width: 380px;
    // width: 100%;
    max-height: 250px;
    height: 100%;

    margin-bottom: 12px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 24px;
  }

  &__middle {
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;
  }

  &__text {
    margin: 0;
    padding: 5px 0;
    font-weight: 500;
    font-size: 14px;

    color: #828282;
  }

  &__super-host {
    padding: 5px 10px;
    margin-right: 10px;

    border: 1px solid #4f4f4f;
    border-radius: 12px;

    font-weight: 700;
    font-size: 9px;
    text-transform: uppercase;
    color: #4f4f4f;

    @include onTab {
      font-size: 12px;
    }
  }

  &__rating {
    display: inherit;
    align-items: center;
  }

  &__star {
    width: 20px;
    height: 20px;
    margin-right: 4px;

    filter: invert(59%) sepia(46%) saturate(3564%) hue-rotate(324deg) brightness(94%) contrast(95%);
  }

  &__describe {
    margin: 0;
    font-weight: 600;
    font-size: 14px;

    @include onSmallDesktop {
      font-size: 16px;
    }
  }
}
